{
    "num_worker_trial": 30,
    "num_episode": 3,
    "seed_start": SEED,
    "num_generations": 1000,
    "gamename": "slimevolley",
    "identifier":"slime-nsraes-adam-30i-1000g-SEED",
    "algorithm": {
        "name": "nsraes",
        "optimizer": {
            "name": "adam",
            "stepsize": 0.1
        },
        "metapopulation_size": 3,
        "k": 5
    }
}
